h1 {
    color: #215;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
}

.sect {
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 30pt;
}

#art1 {
    font-size: 16px;
    text-align: justify;
    color: rgb(0, 174, 255);
}

#art2 {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    color: rgb(67, 0, 129);
}

nav {
    text-align: center;
}

li {
    display: inline;
}

a:hover {
    color: rgb(243, 117, 0);
}
